@import "init";
@import "mixin";
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Open+Sans+Condensed:wght@300&family=Truculenta&display=swap');

//font variable
$font-art: 'Inconsolata', monospace;
$font-info: 'Open Sans Condensed', sans-serif;
$font-title: 'Truculenta', sans-serif;
//Color variable
$clr-alert: #BB0A21;
$clr-black: #252627;
$clr-white: #FFF9FB;
$clr-border: #4B88A2;
$clr-bg: #D3D4D9;
//general global tag setting
body{
    -webkit-animation:color-change-2x 3.5s linear infinite alternate both;animation:color-change-2x 3.5s linear infinite alternate both;
}
h1{
    font-family: $font-title;
    font-size: 1.8rem;
    color: $clr-bg;
}
ul{
    margin: 1rem 0;
}
li{
    font-size: 1rem;
}
i{
    font-size: 2rem
}

.btnBig{
    border: 5px solid $clr-bg;
    background-color: transparent;
    margin: 1rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    font-size: 1.2rem;
    font-weight: 700;
    transition: all 1.5s;
    color: $clr-bg;
}
.btnBig:hover{
    border: 5px solid $clr-alert;
    color: $clr-alert;
    background-color: $clr-border;
}




//mixin
@mixin ulStyle {
    ul{
        @include flexR;
        justify-content: center;
        li{
            font-family: $font-info;
        }
        li:hover{
            color: $clr-alert;
        }
    }
}
@mixin formStyle{
    font-size: 2rem;
    form{
        padding: 1rem;
        width: 100%;
        font-family: $font-info;
        position: relative;
    }
    input{
        height: 2rem;
        width: 10rem;
        padding: .5rem;
    }
    input[type=text]{
        background-color:$clr-bg;
    }
    .formBtn{
        position: absolute;
        top: 1rem;
        right: 1rem;
    }
}

@mixin containerStyle{
    background-color: rgba($clr-black, .6);
    border: 5px solid $clr-bg;
    border-radius: 8%;
    color: $clr-bg;
    box-shadow: 8px 12px 22px -5px rgba(37,38,39,1);
    -webkit-box-shadow: 8px 12px 22px -5px rgba(37,38,39,1);
    -moz-box-shadow: 8px 12px 22px -5px rgba(37,38,39,1);
}

@mixin listItem  {
    li{
        @include flexR;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: .5rem 0;
        padding: 1rem;
        background-color: rgba($clr-black, .9);

    }
    span{
        padding-right: 1rem;
    }
    .listBtn{
        button{
            width: 1.2rem;
            height: 1.2rem;
            margin: .5rem;
            background-color: transparent;
        }
    }
    i{
        font-size: 1.2rem;
        color: $clr-bg;
    }
}







header{
    @include flexR;
    align-items: center;
    justify-content: center;
    .header-title{
        padding: .5rem;
        margin: 1rem;
        h1{
            font-size: 3rem;
            color: $clr-bg;
        }
    }
}


main{
    @include flexC;
    section {
        @include flexR;
    }
}

.todo{
    @include listItem;
    justify-content: center;
    align-items: flex-start;
    >div{
        margin: 2rem;
    }
}


.todo-category, .category-container{
    @include flexC;
    @include containerStyle;
    @include formStyle;
    min-width: 300px;
    -webkit-animation:fade-in 1.2s cubic-bezier(.39,.575,.565,1.000) both;animation:fade-in 1.2s cubic-bezier(.39,.575,.565,1.000) both;
}


.result-sec{
    @include flexR;
    justify-content: center;
    >div{
        margin: 2rem;
        min-width: 300px;
    }
}



.result-container{
    @include flexC;
    @include containerStyle;
    justify-content: flex-start;
    padding: 1rem;
    -webkit-animation:fade-in 1.2s cubic-bezier(.39,.575,.565,1.000) both;animation:fade-in 1.2s cubic-bezier(.39,.575,.565,1.000) both;

    ul>li{
        font-size: 1rem;
    }
}
#doneContainer{
    i{
        color: $clr-border;
    }
}
#undoneContainer{
    i{
        color: $clr-alert;
    }
}

footer{
    @include flexC;
    @include ulStyle;
    padding-top: 2rem;
    text-align: center;
    color: $clr-black;
    font-size: 2rem;
    ul{
        margin-top: 1rem ;
    }
    li{
        margin: 0 2rem;
    }
    i{
        font-size: 3rem;
    }

    span{
        margin: 0;
        padding: .5rem 0 1rem;
    }
}

@-webkit-keyframes color-change-2x{0%{background:#19dcea}100%{background:#b22cff}}@keyframes color-change-2x{0%{background:#19dcea}100%{background:#b22cff}}

@-webkit-keyframes fade-in{0%{opacity:0}100%{opacity:1}}@keyframes fade-in{0%{opacity:0}100%{opacity:1}}
