@import "init";
@import "mixin";
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Open+Sans+Condensed:wght@300&family=Truculenta&display=swap');

//font variable
$font-art: 'Inconsolata', monospace;
$font-info: 'Open Sans Condensed', sans-serif;
$font-title: 'Truculenta', sans-serif;
//Color variable
$clr-alert: #BB0A21;
$clr-black: #252627;
$clr-white: #FFF9FB;
$clr-border: #4B88A2;
$clr-bg: #D3D4D9;
//general global tag setting
body{
    -webkit-animation:color-change-2x 3.5s linear infinite alternate both;animation:color-change-2x 3.5s linear infinite alternate both;
}
h1{
    font-family: $font-title;
    font-size: 1.8rem;
    color: $clr-bg;
}
ul{
    margin: 1rem 0;
}
li{
    font-size: 1rem;
}
i{
    font-size: 2rem;
    pointer-events: none;

}

.btnBig{
    border: 5px solid $clr-bg;
    background-color: transparent;
    margin: 1rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    font-size: 1.2rem;
    font-weight: 700;
    transition: all 1.5s;
    color: $clr-bg;
}
.btnBig:hover{
    border: 5px solid $clr-alert;
    color: $clr-alert;
    background-color: $clr-border;
}




//mixin
@mixin containerHeader {
    .container-header{
        @include flexC;
        position: relative;
        align-items: flex-start;
        width: 100%;
        font-size: 1.8rem;
        font-family: $font-title;
        padding: 1rem;
        input[type=text]{
            height: 2.5rem;
            width: 10rem;
            padding: .5rem;
            margin-top: 1rem;
            background-color:$clr-bg;
        }
        .formBtn{
            position: absolute;
            right: 1rem;
            margin: 0;
        }
    }
}
@mixin containerStyle{
    background-color: rgba($clr-black, .6);
    border: 5px solid $clr-bg;
    border-radius: 5%;

    margin: 1rem .5rem;
    justify-content: center;
    color: $clr-bg;
    box-shadow: 8px 12px 22px -5px rgba(37,38,39,1);
    -webkit-box-shadow: 8px 12px 22px -5px rgba(37,38,39,1);
    -moz-box-shadow: 8px 12px 22px -5px rgba(37,38,39,1);
    -webkit-animation:fade-in 1.2s cubic-bezier(.39,.575,.565,1.000) both;animation:fade-in 1.2s cubic-bezier(.39,.575,.565,1.000) both;

}
@mixin listContainer {
    .listContainer{
        @include flexC;
        width: 100%;
    }
    .list-item{
        @include flexR;
        align-items: center;
        width: 100%;
        margin: .5rem 0;
        padding: 1rem;
        background-color: rgba($clr-black, .9);
        font-family: $font-art;
        button{
            width: 1.2rem;
            height: 1.2rem;
            margin: .5rem;
            background-color: transparent;
        }
        i{
            font-size: 1.2rem;
            color: $clr-bg;
        }
    }
    
}
header{
    @include flexR;
    align-items: center;
    justify-content: center;
    font-family: $font-title;
    .header-title{
        padding: .5rem;
        margin: 1rem;
        h1{
            font-size: 3rem;
            color: $clr-bg;
        }
    }
}
main{
    @include flexC;
    justify-content: center;
    section {
        @include flexR;
        justify-content: center;
        align-items: center;
        width: 100%
    }
}
.container, .result-container{
    @include containerStyle;
    @include containerHeader;
    @include listContainer;
    @include flexC;
    min-width: 320px;

}
.todo{
    align-items: flex-start;
}

.todo-category, .category-container{
    @include containerHeader;
    .list-item{
        justify-content: space-between;
    }
    span{
        padding-right: .5rem;
    }
}


.result-container{
    justify-content: flex-start;

}



#doneContainer{
    i{
        color: $clr-border;
    }
}
#undoneContainer{
    i{
        color: $clr-alert;
    }
}
footer{
    @include flexC;
    padding-top: 2rem;
    text-align: center;
    color: $clr-black;
    font-size: 2rem;
    ul{
        margin-top: 1rem;
        @include flexR;
    }
    li{
        margin: 0 2rem;
        font-family: $font-art;
    }
    li:hover{
        color: $clr-alert;
    }
    i{
        font-size: 3rem;
    }
    span{
        padding: .5rem 0 1rem;
    }
}
@-webkit-keyframes color-change-2x{0%{background:#19dcea}100%{background:#b22cff}}@keyframes color-change-2x{0%{background:#19dcea}100%{background:#b22cff}}

@-webkit-keyframes fade-in{0%{opacity:0}100%{opacity:1}}@keyframes fade-in{0%{opacity:0}100%{opacity:1}}


.displayNone{
    display: none;
}